#Backend

#Backend/node_modules/
Backend/.git/
Backend/Redis-x64-3.2.100
utilidades.txt

#Frontend
Frontend/orquestador/.angular/
Frontend/orquestador/.vscode/
Frontend/orquestador/node_modules/
Frontend/orquestador/src/
Frontend/orquestador/.editorconfig
Frontend/orquestador/.git/
Frontend/orquestador/angular.json
Frontend/orquestador/package.json
Frontend/orquestador/package-lock.json
Frontend/orquestador/tsconfig.app.json
Frontend/orquestador/tsconfig.json
Frontend/orquestador/tsconfig.spec.json