button {
    padding: 6px 0;
    width: 100%;
}

h3 { 
    font: 15px/18px "Bi NeoIndustrial Bold"; 
}

.mat-form-field { 
    width: 100%; 
}

a.primary.link.active {
    font: 10px/14px "Bi NeoIndustrial";
    letter-spacing: -0.3px;
    color: #003865;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
}

.loader {
    right: 22px;
    top: 7px;
    bottom: auto;
    width: 30px;
    height: 30px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #003865;
    border-style: solid solid dotted;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes rotationBack {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
