<div class="login-wrap flex w-full h-full-vh">
  
  <div class="login-section w-2 flex justify-center items-center">
      <div class="login-box bg-white">
      <router-outlet></router-outlet>
      </div>
  </div>

  <div class="auth-left-image login-bg w-2 relative flex justify-center"> 

    <div class="logo-container z-10">
      <img class="auth-logo" src="./assets/img/new-bi-logo.svg" alt="Banco Industrial" width="200" height="172">
      <div class="auth-logo-letter primary">
        ORQUESTADOR
      </div>
    </div>
    
  </div>

</div>